*{
    margin: 0;
    padding: 0;
}
#navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: navy;
}
.links{
    margin: 0 15px;
    color: snow;
    text-decoration: none;
}


.mainBox{
    margin: 0 20%;
}
.shop{
    
    width: auto;
}
.leadercol{
    background-color: aqua;
}



.moreInfo{
    background-color: navy;
    text-decoration: none;
}


