*{
    margin: 0;
    padding: 0;
}
#navBar{
    background-color: navy;
}
.links{
    color: snow;
    text-decoration: none;
}
.color{
    background-color: navy;
    color: snow;
}
.moreInfo{
    background-color: navy;
    text-decoration: none;
}