*{
    margin: 0;
    padding: 0;
}
#navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: navy;
}
.links{
    margin: 0 15px;
    color: snow;
    text-decoration: none;
}

.bigBox{
    margin: 5% 20%;
}
.pipeAccessories h1{
    text-align: center;
    margin: 5% 0;
}
.pipeAccessories img, p{
    margin: 2.5% 0;
}
.miniInfo{
    display: flex;
    justify-content: space-between;
}
.side h4, img, p{
    margin: 2.5% 0;
}
.bottomBox{
    text-align: center;
}
.bottomBox h3, h4{
    margin: 20px 0;
}

.picBox{
    display: flex;
    text-decoration: none;
}
.picBox img{
    margin: 20px 0;
    margin-right: 20px;
    width: 280px;
}


.color{
    color: snow;
}
.moreInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: navy;
    text-decoration: none;
    color: snow;
}
.info{
    display: flex;
    flex-direction: row;
}
.info h5{
    margin-right: 20px;
    font-weight: bold;
    font-size: larger;
}
.bottomLinks{
    margin-right: 20px;
    text-decoration: none;
    color: snow;
}